body
{
	background-color: #000000;
	background-image: url("bg.jpg");
}
.container-fluid{
	padding: 3% 7%;
}
a
{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*h1{
	display: inline;
}*/
.title-heading{
	color: white;
	display: inline;
	font-family: 'Audiowide', cursive;
	padding: 3%;
	margin: 1.3rem;

}
.title-img{
	width: 15%;
	display: inline;
	padding-bottom: 3%;
}
.heading1{
	padding: 1% 3%;
	margin-left: 4rem;
	}
.carouselimg{
	margin: 1.2rem;
	text-align: center;
	width: 80%;
	cursor: pointer;
}
#carouselmusic{
	text-align: center;
}
.carouselcaption{
	font-size: 2rem;
	padding: 1%;
}
.parent{
	position: relative;
}
.player{
	padding: 3% 7%;
	width: 100%;
	background-color:#18191A;
	height: 10vh;
	position: sticky;
	bottom: 0;
}
.ico{
	color: white;
}


.player-container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #f53192;
    box-shadow: 0px 5px 10px rgba(255,26,26,0.22);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid 	#FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
}
.current-time{
    margin-right: 8px;
}
.total-duration{
    margin-left: 8px;
}
.seek-slider{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background:#f53192;
    cursor: pointer;
    margin: 40px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.seek-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background:#f53192;
    border: 6px solid #fff;
    box-shadow: 0px 5px 10px rgba(255,26,26,0.22);
    border-radius: 50%;
}
.volume-slider{
    -webkit-appearance: none;
    width: 70%;
    height: 6px;
    background:#f53192;
    cursor: pointer;
    margin: 40px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.volume-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background:#f53192;
    border: 6px solid #fff;
    box-shadow: 0px 5px 10px rgba(255,26,26,0.22);
    border-radius: 50%;
}

.control-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.random-track, .prev-track, .playpause-track, .next-track, .repeat-track{
    font-size: 12px;
    cursor: pointer;
    
}